@model IEnumerable<IdentityRole>
@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService authorizationService
@{
    ViewData["Title"] = "All Role";
}
<div class="card text-center bg-transparent ">
    <div class="card-header">
        <h1>All Roles</h1>
    </div>

    @if (Model.Any())
    {
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">User Id</th>
                        <th scope="col">User Name</th>
                        <th>
                            <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole" asp-controller="Administration">Add New role</a>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>
                                Role Id: @role.Id
                            </td>
                            <td>
                                @role.Name
                            </td>
                            <td>
                                <div role="group" class="w-60 btn-group">
                                    <form asp-action="DeleteRole" asp-route-Id="@role.Id" method="post">
                                        @if ((await authorizationService.AuthorizeAsync(User, "EditRolePolicy")).Succeeded)
                                        {
                                            <a class="btn btn-primary" asp-action="EditRole" asp-controller="Administration" asp-route-Id="@role.Id">Edit</a>
                                        }

                                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you  want to delete Role : @role.Name')">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                No roles Creaed yet
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Use the button below to create a role
                </h5>
                <a class="btn btn-primary" style="width:auto" asp-controller="Administration" asp-action="CreateRole">
                    Create Role
                </a>
            </div>
        </div>
    }
</div>
